<%= form_with(model: triplace, local: true) do |form| %>
  <% if triplace.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(triplace.errors.count, "error") %> prohibited this triplace from being saved:</h2>

      <ul>
      <% triplace.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
