<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Most Popular Destinations</h2>
        <hr class="primary">
        <a href="http://pure-coast-27115.herokuapp.com/supported_cities/index" class="btn btn-primary btn-xl page-scroll">View all supported cities</a>
      </div>
    </div>
  </div>

</section>
